  <header>
    <nav>
      <a  routerLink="/**">
      <img [src]="logo" alt="BlinkTickets" class="Logo">
      </a>
      <div class="nav-options">
        <div class="option">
          <span>LOCATION</span>
          <p>{{location}}</p>
        </div>
        <div class="option">
          <span>DATE</span>
          <p class="menu">Select dates</p>
        </div>
        <div class="option">
          <span>EVENT TYPE</span>
          <p class="menu">Select event types</p>
        </div>
      </div>
      <div class="user-icon">
        <i class="fas fa-user-circle"></i> 
      </div>
    </nav>
  </header>  